{% extends 'tasks/main.html' %}

{% block content %}
<div class="card text-center">
    <div class="card-header">
      To-Do List
    </div>
    <div class="card-body">
            
        <form class="" method="POST" action="">
            {% csrf_token %}
            <div class="form-group">
                {{form.title}}
            </div>
            <a class="btn btn-danger" href="/">Cancel</a>
            <input class="btn btn-primary" type="submit" value="Update Task">
        </form>
    </div>
</div>
{% endblock %}